@import '../variables.pcss';

.tooltip{
  background: var(--bgColor) !important;
  font-size: 0.8rem !important;
  font-family: var(--sofiaProFontFamily) !important;
  font-weight: 700;
  font-style: normal;
  opacity: 0.8;
}