.table-container {
  width: 100%;
}

  .table-container .table {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
            justify-content: space-between;
    border: 1px solid #eee;
  }

  .table-container .table .row {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
              justify-content: space-between;
      width: 100%;
      color: green;
    }

  .table-container .table .row .col {
        margin: 1em;
      }



