.table-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

@media (min-width: 768px) {

.table-container {
    width: 470px;
    margin-right: 5px
}
  }

@media (max-width: 767px) {

.table-container {
    width: 100%;
    margin-right: 5px
}
  }

.table-container .table {
    margin: 2rem 0 4rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
  }

.table-container .table .row {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
              justify-content: space-between;
      width: 100%;
    }

.table-container .table .row div {
        border: 0px solid red;
      }

.table-container .table .row .col {
        padding: 0.2em;
        width: 50px;
        margin: 0;
        text-align: center;
        height: 2rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: end;
                justify-content: flex-end;
      }

.table-container .table .row .col.col-header {
          font-size: 0.6em;
          text-transform: uppercase;
        }

.table-container .table .row .col.team-name {
          width: 200px;
          -webkit-box-pack: start;
                  justify-content: flex-start;
        }



