@import '../variables.pcss';

.trip-destination-container {

  display: flex;
  justify-content: center;
  width: 100%;

  *{
    margin: 2rem 1rem 1rem;
  }

  .trip-destination-icon {
    font-size: 60px;
    color: var(--accentTextColor);
  }

  .trip-destination-text {
    color: var(--accentTextColor);
    display: flex;
    align-items: center;
    font-family: var(--sofiaProFontFamily);
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    margin-right: 10%;
  }
}