.games-container {
  width: 100%;
}
.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eee;
  width: 100%;
}
.game {
  display: flex;
}

.game>div {
  margin: 1em;
}