@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto:400,500|Fugaz+One');
@import url("https://use.typekit.net/nkq8bfq.css");
html {
  box-sizing: border-box;
}
html *, html *:before, html *:after {
    box-sizing: inherit;
  }
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Sofia Pro", "Roboto", "Helvetica Neue", sans-serif;
    background: #a10f5d;
    width: 100%;
  }
html body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Sofia Pro", "Roboto", "Helvetica Neue", sans-serif;
    background: #a10f5d;
    width: 100%;
  }
html code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }
html h1 {
    font-family: Bangers, "Sofia Pro", "Roboto", "Helvetica Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 3em;
  }