:root {
  --sofiaProFontFamily: sofia-pro, Roboto, "Helvetica Neue", sans-serif;
  --robotoFontFamily: Roboto, "Helvetica Neue", sans-serif;
  --fugazOneFontFamily: "Fugaz One", sofia-pro, Roboto, "Helvetica Neue", sans-serif;
  --bgColor: #a10f5d;
  --textColor: #d673a9;
  --weakerTextColor: #731547;
  --strongerTextColor: #f5d3e5;
  --accentTextColor: #f5d3e5;
}