:root {
  --robotoFontFamily: "Roboto", "Helvetica Neue", sans-serif;
  --bangersFontFamily: Bangers, "Sofia Pro", "Roboto", "Helvetica Neue", sans-serif;
  --fugazOneFontFamily: "Fugaz One", Bangers, "Sofia Pro", "Roboto", "Helvetica Neue", sans-serif;
  --bgColor: #a10f5d;
  --textColor: #220113;
  --weakerTextColor: #710840;
  --strongerTextColor: #f0bad6;
}