:root {
  --sofiaProFontFamily: sofia-pro, Roboto, "Helvetica Neue", sans-serif;
  --robotoFontFamily: Roboto, "Helvetica Neue", sans-serif;
  --fugazOneFontFamily: "Fugaz One", sofia-pro, Roboto, "Helvetica Neue", sans-serif;
  --bgColor: #a10f5d;
  --textColor: #220113;
  --weakerTextColor: #710840;
  --strongerTextColor: #f0bad6;
}